body {
  font-family: 'Abadi Extra Light';
  font-size: 20px;
  line-height: 24px;
  color: #333;
  background: #ececec;
  overflow-y: scroll;
}

.container{
  height: 100%;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr;
}

.title{
  height: auto;
  padding: 10px;
  display: inline-block;
}

input.exit-button {
  background: url("Source/exit.png") no-repeat;
  border-style: hidden;
  width: 180px;
  height: 180px;
}