body {
  font-family: '나눔스퀘어 네오 OTF ExtraBold';
  font-size: 20px;
  line-height: 24px;
  color: #333;
  background: #ececec;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body *{
  box-sizing: border-box;
}

.container{
  height: 100%;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr;
}

.title{
  height: auto;
  padding: 10px;
  display: inline-block;
}

.control{
  float: right;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
  margin-right: 5px;
  width: 100px;
}

.title-bar{
  background: #e6e7e9;
  color: #2c2c3d;
  font-size: 30px;
}

.prevent-select{
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.draggable{
  -webkit-app-region: drag;
}

.btn.minimize-button {
  background: url("Source/minimize.png") no-repeat center / 75% auto;
}

.btn.maximize-button {
  background: url("Source/maximize.png") no-repeat center / 75% auto;
}

.btn.exit-button {
  background: url("Source/exit.png") no-repeat center / 50% auto;
}

.btn {
  border-style: hidden;
  width: 25px;
  height: 25px;
  transition: all 0.2s;
}

.btn:hover {
  
}
